nav {
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
}

nav>div {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 160px;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}