nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 200px;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}