@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Space+Mono&display=swap');

.skill {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
    margin: 15px 0;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border-radius: 5px;
}

.skill img {
    width: 90px;
}