#section-experiences {
    display: flex;
    flex-direction: column;
}

#section-experiences>div {
    width: 85%;
}

#section-experiences-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-experiences h2 {
    font-size: 33px;
}

#experiences {
    display: flex;
    flex-wrap: wrap;
}