#section-skills {
    display: flex;
    flex-direction: column;
}

#section-skills>div {
    width: 85%;
}

#section-skills h2 {
    font-size: 30px;
}

#section-skills-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 0;
}

#skills>div {
    margin: 1% 0;
}

@media only screen and (max-width: 1500px) {
    #skills>div {
        width: 12%;
    }
}

@media only screen and (min-width: 1500px) {
    #skills>div {
        width: 18%;
    }
}

@media only screen and (min-width: 1560px) {
    #skills>div {
        width: 20%;
    }
}