main {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title>h1 {
    font-size: 45px;
}

#image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #DEDEDE;
    border-radius: 5px;
    width: 40%;
    height: 450px;
    padding-right: 50px;
}

#image>img {
    width: 350px;
    border-radius: 5px;
}